* {
    margin: 0;
    font-family: 'Franklin Gothic regular', 'Arial Narrow', Arial, sans-serif;
}

/* link */
a {
    text-decoration: none;
    color: darkorchid;
}

/* semua isi body */
body {
    margin: 0;
    text-align: justify;
}

/* semua tag Heading */
h1 {
    letter-spacing: 3px;
    text-align: center;
    color: khaki;
}

/* semua tag p */
p {
    text-indent: 50px;
    text-transform: capitalize;
    margin: 3px 20px;
    color: rgb(99, 17, 17);
    text-indent: 30px;
}